.button {
    font-family: 'Helvetica medium', sans-serif;
    display: inline-flex;
    align-items: center;
    padding: 0.75rem 1.25rem;
    cursor: pointer;
    transition: background-color 0.1s ease;
    border: none;
    z-index: 1000;
}

.button::before {
    content: "";
    display: inline-block;
    width: 1.2em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #e6e6e6;
    margin-right: 1rem;
}

.button:focus {
    outline: 1px solid #2b2b2b;
}

.button:active {
    transform: scale(0.95);
}

.primaryButton {
    background-color: #dcdcdc;
    color: #1a1a1a;
    transition: ease-in-out 0.3s;
}

.primaryButton:hover {
    background-color: #1a1a1a;
    color: #f2f2f2;
}

.secondaryButton {
    background-color: #1a1a1a;
    color: #f2f2f2;
    transition: ease-in-out 0.3s;
}

.secondaryButton:hover {
    background-color: #dcdcdc;
    color: #1a1a1a;
}

.smallButton {
    font-size: 0.75rem;
}

.mediumButton {
    font-size: 1rem;
}

.largeButton {
    font-size: 1.25rem;
}
